<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Somos una empresa mexicana dedicada al tratamiento de agua, así como a la comercialización de diferentes sistemas  para la potabilización de agua.">
		<meta name="keywords" content="Filtros, Equipos, Osmosis, Trataminetos, Aguas, Albercas, Chihuahua, Mexico, Colonia Panamericana, Ultrapura, Ultrafiltracion, Rocha, Potable, Microfiltración, multimedia, carbón, Ablandamiento, cloro, ozono, Inversa, filter, catiónica, Anionica, Arenas sílica, hydranautics, flow-pro, aqua park, altamira, espa, hayward, purificacion">
		<meta name="author" content="Luis Raúl Espinoza Barboza">

		<title>FESTA</title>
		<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
		<link href="../fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="../css/bootstrap-3.1.1.min.css" rel="stylesheet">
		<link href="../css/lollies.min.css" rel="stylesheet">
		<link href="../css/custom.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="js/html5shiv-3.7.0.js"></script>
			<script src="js/respond-1.4.2.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container colWidth">
		<header id="main-header">
			<div id="slider" class="slider-col">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="camera_slider">
								<div data-src="../img/slider/slider_1.png"></div>
								<div data-src="../img/slider/slider_2.png"></div>
								<div data-src="../img/slider/slider_3.png"></div>
								<div data-src="../img/slider/slider_4.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</header>
		
		<nav id="main-nav">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- NAVIGATION -->
						<div class="navbar navbar-default" role="navigation">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="navbar-collapse collapse">
								<ul class="nav navbar-nav nav-justified">
									<li><a href="../index.html">Inicio</a></li>
									<li><a href="../views/purificacion.html">Purificación residencial</a></li>
									<li><a href="../views/purificacioncomercial.html">Purificación comercial</a></li>
									<li><a href="../views/ultrapura.html">Equipos para agua ultrapura </a></li>
									<li><a href="../views/osmosis.html">Equipos para osmosis inversa</a></li>
									<li class="active"><a href="#">Albercas</a></li>
									<li><a href="#contacto">Contacto</a></li>
								</ul>
							</div>
						</div>
						<!-- NAVIGATION SECOND-->
						<div class="navbar" role="navigation">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="navbar-collapse collapse">
								<ul class="nav navbar-nav nav-justified">
									<li><a href="#filtros">Filtros</a></li>
									<li><a href="#bombas">Bombas</a></li>
									<li><a href="#mantenimiento">Mantenimiento</a></li>
									<li><a href="#quimico">Químico</a></li>
									<li><a href="#accesorios">Accesorios e iluminación</a></li>
									<!--li><a href="#plasticas">Albercas plásticas</a></li-->
									<li><a href="#manuales">Hojas técnicas</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
		</nav>	

		<div class="content-block">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!--h1>Tratamiento de aguas para albercas y piscinas</h1-->
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h2></h2>
						<p>
							El mantenimiento y conservación del agua en piscinas, es una especialidad de la tecnología
							de tratamiento del agua ya que es un agua que va a tener un uso continuo en una cierta 
							temporada del año y para preservarla se deben dar tratamientos especiales. Una piscina o 
							balneario o alberca, es un sitio de recreo donde los usuarios disfrutan del contacto del agua en 
							forma natural.
						</p>
						<p>
							En las piscinas el agua se retiene, se emplea una y otra vez a veces por toda la temporada de
							verano y si es el caso por todo el año y aun en algunos casos el agua puede almacenarse de 
							una temporada a otra.
						</p>
						<p>
							Para que el agua esté en condiciones de uso en forma agradable y segura se deben tener 
							ciertos requisitos en el recipiente que contiene el agua (piscina, alberca), y además se le 
							deberán dar ciertos tratamientos químicos al agua para mantener y mejorar sus propiedades y 
							que sea agradable al usuario y libre de microorganismos que son causantes de enfermedades.
						</p>
					</div>
				</div>
				
				<div class="row" id="filtros">
					<div class="col-md-12">
						<h1>Filtros</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p>
							Los filtros que se pueden emplear en piscinas son: filtros de arena, de cartucho y de tierras diatomáceas.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">	
						<h2>Filtro De Arena</h2>
						<p>
							Por tradición este tipo de filtro es el más empleado aun hoy en día. Ventajas y sus desventajas.
							Este filtro consiste de un tanque que contiene arena, un distribuidor una rejilla de colección y 
							una válvula de multipasos con seis posiciones (filtrado, lavado, enjuague, drenaje, recircular, 
							lavado e invierno) 
							<br>
							<a target="_blank" href="../docs/albercas/PREGUNTAS_Y_RESPUESTAS.pdf" tittle="PREGUNTAS_Y_RESPUESTAS.pdf">
								<img src="../img/site/pdf.png" style="width:20px; padding-top: 20px;">
								VER MANUAL
							</a>
						</p>
					</div>
					<div class="col-md-6">
						<p style="text-align: center;">
							<!--img src="../img/albercas/filtro_arena.png" class="img-thumbnail img-responsive" alt="filtro de arena" style="width:400px"-->

							<a class="fancybox" rel="gallery_group" href="../img/albercas/filtro_arena.png"><img src="../img/albercas/filtro_arena.png" alt=""/ style="width:300px"></a>
						</p>
					</div>
				</div>

				<hr class="featurette-divider">

				<div class="row">
					<div class="col-md-6">
						<p style="text-align: center;">
							<!--img src="../img/albercas/filtro_cartucho.png" class="img-thumbnail img-responsive" alt="filtro de cartucho" style="width:400px"-->
							<a class="fancybox" rel="gallery_group" href="../img/albercas/filtro_cartucho.png"><img src="../img/albercas/filtro_cartucho.png" alt=""/ style="width:300px"></a>
						</p>	
					</div>
					<div class="col-md-6">
						<h2>Filtro De Cartucho</h2>
						<p>
							Este tipo de filtro es muy efectivo y simple de operar. Consiste de
							uno o más elementos de filtración de medio filtrante tal como fibras de celulosa, o poliéster
							plisado. La finalidad del plisado es tener el máximo de área en el mínimo de volumen.
							Periódicamente se limpia el filtro con un chorro de agua a presión y cuando el material esta muy
							desgastado después de varios ciclos de limpieza, se cambia el elemento por uno nuevo.
							En este tipo de filtro el agua pasa a través del material filtrante y por simple tamizado los solidos
							son retenidos y el agua pasa una vez que es filtrada.
						</p>	
					</div>
				</div>

				<hr class="featurette-divider">
				
				<div class="row">
					<div class="col-md-6">	
						<h2>Filtro De Diatomácea</h2>
						<p>
							El filtro de diatomáceas es uno de los menos fáciles en su uso
							pero tiene la ventaja de ser uno de los más eficientes y que mejor calidad de agua produce. El
							filtro de diatomáceas consiste de un tanque o deposito que tiene en su interior un arreglo de lonas
							en forma de velas o de gajos en espiral procurando siempre aprovechar el máximo de área en
							todo el espacio disponible en el cuerpo del filtro.
						</p>
					</div>
					<div class="col-md-6">
						<p style="text-align: center;">
							<!--img src="../img/albercas/filtro_diatomaceas.png" class="img-thumbnail img-responsive" alt="filtro de diatomaceas" style="width:400px"-->
							<a class="fancybox" rel="gallery_group" href="../img/albercas/filtro_diatomaceas.png"><img src="../img/albercas/filtro_diatomaceas.png" alt=""/ style="width:300px"></a>
						</p>
					</div>
				</div>

				<hr class="featurette-divider">

				<!--
				<div class="row">
					<div class="col-md-6">
						<p style="text-align: center;">
							<img src="../img/albercas/filtro_arena.png" class="img-thumbnail img-responsive" alt="Responsive image" style="width:400px">
						</p>	
					</div>
					<div class="col-md-6">
						<h2>Filtro De Arena</h2>
						<p>
							
						</p>	
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<h2>Filtro De Arena</h2>
						<p>
							
						</p>	
					</div>
					<div class="col-md-6">
						<p style="text-align: center;">
							<img src="../img/albercas/filtro_arena.png" class="img-thumbnail img-responsive" alt="Responsive image" style="width:400px">
						</p>	
					</div>
				</div>
					-->
					
				<div class="row" id="bombas">
					<div class="col-md-12">
						<h1>Bombas</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<p style="text-align: center;">
							<!--img src="../img/albercas/bomba_hayward.png" class="img-thumbnail img-responsive" alt="bomba para alberca" style="width:400px"-->

							<a class="fancybox" rel="gallery_group" href="../img/albercas/bomba_hayward.png"><img src="../img/albercas/bomba_hayward.png" alt="" style="width:300px"></a>
						</p>	
					</div>
					<div class="col-md-6">
						<!--h2></h2-->
						<p>
							Las bombas para albercas son diferentes a las bombas que se
							emplean en otros usos. Estas bombas deben tener las siguientes características:
						</p>
						<p>
							1: No se requiere que el agua bombeada fluya a muy alta presión pero si que maneje grandes
							volúmenes de agua.
						</p>
						<p>
							2: Su diseño y construcción debe ser tal que produzca un alto vacío necesario para la aspiración y
							limpieza de la alberca.
						</p>
						<p>	
							3: Deben estar construidas en materiales resistentes al sol, a la corrosión y a la acción de los
							químicos que se agregan al agua como lo es el cloro.
						</p>
						<p>	
							4: Deben tener un canasto previo a la voluta de la bomba para evitar que hojas y material extraño
							llegue a la bomba y cause danos en la misma.
						</p>
						<p>	
							5: Debe estar construida para uso continuo, intensivo y en condiciones extremas de calor,
							humedad y temperatura.
						</p>	
					</div>
				</div>

				<hr class="featurette-divider">
				
				<div class="row" id="mantenimiento">
					<div class="col-md-12">
						<h1>Mantenimiento</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h2>Mantenimiento Y Servicio</h2>
						<p>
							Recuerde que para mantener un agua limpia y cristalina se requiere de:
						</p>
						<p> 
							Tener el agua en balance, esto es, con la cantidad de cloro, con el pH y la alcalinidad adecuada. 
						</p>
						<p>    
						    El cloro es el componente más importante en la calidad del agua, por lo que siempre deberá tener cloro residual el agua de la alberca, o de lo contrario se favorece el crecimiento de algas, hongos y demás microorganismos. 
						</p>
						<p>	
							Además deberá darse servicio y limpieza para evitar el desarrollo y crecimiento de algas, por lo que es necesario periódicamente limpiar con cepillo y aspirar el piso y las paredes de la alberca 
						</p>
						<p>	
							Después de un uso intensivo de la alberca, se deberá dar tratamiento shock 
							También es conveniente periódicamente agregar algicida para mantener en control el crecimiento de hongos y algas. 
						</p>
						<p>	
							Después de la limpieza con tratamiento shock o del cepillado de piso y paredes de la alberca o cuando llega mucho polvo a la alberca, o cuando llueve intensamente, es necesario agregar clarificante. 
						</p>
						<p>	
							El clarificante aglomera las pequeñas partículas que se forman o desprenden en la alberca, y de esta manera pueden ser retenidas en el filtro. 
						</p>
						<p>	
							La filtración es muy importante en la calidad de su agua, por lo que es necesario contar con un buen sistema de filtros para remover eficientemente los sólidos o partículas que se encuentran contenidos en ésta. 
						</p>
					</div>
				</div>

				<hr class="featurette-divider">

				<div class="row" id="quimico">
					<div class="col-md-12">
						<h1>Quimico</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<h2>Cloro 90 Presentación Polvo/Pastilla Cloro 90</h2>
						<p>
							Producto  para desinfección de agua evitando la proliferación de algas, hongos y microorganismos causantes de enfermedades. Presentación 1, 4,20 y 50 kgs.
						</p>
					</div>
					<div class="col-md-4">
						<h2>Algicida</h2>
						<p>
							Producto para evitar el crecimiento de todo tipo de algas y hongos en su alberca, causando una desagradable, resbaloso e  insalubre aspecto.
						</p>
					</div>
					<div class="col-md-4">
						<h2>Cloro Shock (Hipoclorito de sodio)</h2>
						<p>
							Producto para destrucción de compuestos químicos indeseables que se forman en el agua, la mejor alternativa para sanitizar su piscina. Presentación 1, 4,20 y 50 kgs.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<h2>Floculante / Clarificador</h2>
						<p>
							Está formulado para resolver problemas de agua gravemente turbia o incluso verde para dejarla totalmente transparente y brillante. Con este producto se conseguirá aglutinar gran cantidad de partículas y por su peso bajarán al piso.
						</p>
					</div>
					<div class="col-md-4">
						<h2>Hipoclorito de sodio</h2>
						<p>
							Desinfección, esterilización, decoloración y deodorizacion de aguas industriales, agua potable y de piscinas.
						</p>
					</div>
					<div class="col-md-4">
						<a class="fancybox" rel="gallery_group" href="../img/albercas/quimico.png"><img src="../img/albercas/quimico.png" alt=""/></a>
					</div>
				</div>

				<hr class="featurette-divider">

				<div class="row" id="accesorios">
					<div class="col-md-12">
						<h1>Accesorios e iluminación</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-14">
						<h2>Accesorios e iluminación</h2>
						<p>
							contenido
						</p>
					</div>
				</div>
				<div class="gallery-block" id="productos">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<a class="fancybox" rel="gallery_group" href="../img/albercas/g_1.png"><img src="../img/albercas/g_1.png" alt=""/></a>
							</div>
							<div class="col-md-3 col-sm-6">
								<a class="fancybox" rel="gallery_group" href="../img/albercas/g_2.png"><img src="../img/albercas/g_2.png" alt=""/></a>
							</div>
							<div class="col-md-3 col-sm-6">
								<a class="fancybox" rel="gallery_group" href="../img/albercas/g_3.png"><img src="../img/albercas/g_3.png" alt=""/></a>
							</div>
							<div class="col-md-3 col-sm-6">
								<a class="fancybox" rel="gallery_group" href="../img/albercas/g_4.png"><img src="../img/albercas/g_4.png" alt=""/></a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<a class="fancybox" rel="gallery_group" href="../img/albercas/g_5.png"><img src="../img/albercas/g_5.png" alt=""/></a>
							</div>
							<div class="col-md-3 col-sm-6">
								<a class="fancybox" rel="gallery_group" href="../img/albercas/g_6.png"><img src="../img/albercas/g_6.png" alt=""/></a>
							</div>
							<div class="col-md-3 col-sm-6">
								<a class="fancybox" rel="gallery_group" href="../img/albercas/g_7.png"><img src="../img/albercas/g_7.png" alt=""/></a>
							</div>
							<div class="col-md-3 col-sm-6">
								<a class="fancybox" rel="gallery_group" href="../img/albercas/g_8.png"><img src="../img/albercas/g_8.png" alt=""/></a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<a class="fancybox" rel="gallery_group" href="../img/albercas/g_9.png"><img src="../img/albercas/g_9.png" alt=""/></a>
							</div>
							<div class="col-md-3 col-sm-6">
								<a class="fancybox" rel="gallery_group" href="../img/albercas/g_10.png"><img src="../img/albercas/g_10.png" alt=""/></a>
							</div>
							<div class="col-md-3 col-sm-6">
								<a class="fancybox" rel="gallery_group" href="../img/albercas/g_11.png"><img src="../img/albercas/g_11.png" alt=""/></a>
							</div>
							<div class="col-md-3 col-sm-6">
								<a class="fancybox" rel="gallery_group" href="../img/albercas/g_12.png"><img src="../img/albercas/g_12.png" alt=""/></a>
							</div>
						</div>
					</div>
				</div>		


				<!--div class="row" id="plasticas">
					<div class="col-md-12">
						<h1>Albercas plásticas</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-14">
						<h2>Albercas plásticas</h2>
						<p>
							contenido
						</p>
					</div>
				</div-->

				<hr class="featurette-divider">

				<div class="row" id="manuales">
					<div class="col-md-12">
						<h1>Hojas técnicas</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h2></h2>
						<div>
							<a target="_blank" href="../docs/albercas/BOMBA_Hayward_Max-Flo_sellsheet.pdf" title="BOMBA Hayward Max-Flo sellsheet"><img src="../img/site/pdf.png" style="width:20px; padding-top: 20px;">BOMBA Hayward Max-Flo sellsheet</a>

							<!--a href="../docs/albercas/BOMBA_Hayward_Max-Flo_sellsheet.pdf" download="BOMBA_Hayward_Max-Flo_sellsheet.pdf">
								<img src="../img/site/pdf.png" style="width:20px; padding-top: 20px;">
								BOMBA Hayward Max-Flo sellsheet
							</a-->
						</div>
						<div>
							<a target="_blank" href="../docs/albercas/BOMBA_SILEN_ESPA.pdf" tittle="BOMBA_SILEN_ESPA">
								<img src="../img/site/pdf.png" style="width:20px; padding-top: 20px;">
								BOMBA SILEN ESPA
							</a>
						</div>
						<div>
							<a target="_blank" href="../docs/albercas/Hayward_Max-Flo_sellsheet.pdf" tittle="Hayward_Max-Flo_sellsheet">
								<img src="../img/site/pdf.png" style="width:20px; padding-top: 20px;">
								Hayward Max-Flo sellsheet
							</a>
						</div>
					</div>
					<div class="col-md-6">
						
						<div>
							<a target="_blank" href="../docs/albercas/C1200.pdf" tittle="FILTRO_DE_CARTUCHO_starclearplus_C1200">
								<img src="../img/site/pdf.png" style="width:20px; padding-top: 20px;">
								FILTRO DE CARTUCHO starclearplus C1200
							</a>
						</div>
						<div>
							<a target="_blank" href="../docs/albercas/PANDA.pdf" tittle="PANDA.pdf">
								<img src="../img/site/pdf.png" style="width:20px; padding-top: 20px;">
								PANDA
							</a>
						</div>
					</div>
				</div>

				<hr class="featurette-divider">

				<div class="row" id="manuales">
					<div class="col-md-12">
						<h1>Manuales</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-14">
						<h2></h2>
						<div>
						<a target="_blank" href="../docs/albercas/PREGUNTAS_Y_RESPUESTAS.pdf" tittle="PREGUNTAS_Y_RESPUESTAS.pdf">
								<img src="../img/site/pdf.png" style="width:20px; padding-top: 20px;">
								PREGUNTAS Y RESPUESTAS
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
		


		<div class="footer-block" id="contacto">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h2>Dirección</h2>
						<p>
							Filtros Equipos y Sistemas Para Tratamiento de Aguas
							<br> 
							República de Colombia Número 219
							<br>
							Chihuahua, Chih. 
						</p>
						
					</div>
					<div class="col-md-3">
						<h2>Contacto</h2>
						<p>
							Filtrosyequipos2014@gmail.com
							<br>
							elsa_rocha@yahoo.com
							<br>
							erocha@filtrosyequipos.com
						</p>
					</div>
					<div class="col-md-6">
						<!--div id="footer-map"></div-->
						<h2>
							Puedes seguirnos en: 
						</h2>
						<p class="pull-right">
				          <div class="social-popout"><a href="https://www.facebook.com/pages/Filtros-y-Equipos-chihuahua/820492864642587" 
				          target="_blank">
				            <img src="../img/social_icons/Facebook.png" />
				          </a></div>
				          <!--div class="social-popout"><a href="https://github.com/lreb/DeviceMaster" target="_blank">
				            <img src="img/social_icons/Github.png" />
				          </a></div-->
				          <div class="social-popout"><a href="https://plus.google.com/u/0/103431308185318942079" target="_blank">
				            <img src="../img/social_icons/Google-Plus.png" />
				          </a></div>
				          <div class="social-popout"><a href="https://www.linkedin.com/pub/filtros-y-equipos/9b/648/44/en" target="_blank">
				            <img src="../img/social_icons/Linkedin.png" />
				          </a></div>
				          <div class="social-popout"><a href="https://twitter.com/FiltrosyEqupos" target="_blank">
				            <img src="../img/social_icons/Twitter-Bird.png" />
				          </a></div>
				          <div class="social-popout"><a href="https://www.youtube.com/channel/UC4VgcdTfAItKdoWzz5N_XIQ" target="_blank">
				            <img src="../img/social_icons/Youtube.png" />
				          </a>
				          </div>
				        </p>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-block">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12 left">
						&copy; 2014 FESTA - Filtros Y Equipos.
					</div>
					<!--div class="col-md-6 col-sm-6 right hidephone">
						Proin | Metus | Vulputate | Curabitur
					</div-->
				</div>
			</div>
		</div>
		</div>
								<!-- SCRIPTS -->
		<script src="../js/jquery-1.7.2.min.js"></script>
		<script src="../js/bootstrap-3.1.1.min.js"></script>
		<script src="../plugins/backstretch/backstretch-2.0.4.min.js"></script>
		<script src="../plugins/camera-slider/camera-slider-1.3.4.min.js"></script>
		<script src="../plugins/camera-slider/easing-1.3.min.js"></script>
		<script src="../plugins/fancybox/fancybox-1.3.4.pack.js"></script>
		<script src="../plugins/fancybox/klass-1.0.min.js"></script>
		<script src="../plugins/fancybox/photoswipe-3.0.5.min.js"></script>
		<script src="../plugins/hover-animations/transform2d.min.js"></script>
		<script src="../plugins/hover-animations/hover-animations-1.0.min.js"></script>
		<script src="../plugins/match-height/match-height-0.5.1.min.js"></script>
		<script src="../plugins/validation/validation-2.2.min.js"></script>
		<script src="../http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="../js/lollies.min.js"></script>
		<script src="../js/custom.js"></script>
	</body>
</html>