<nav id="main-nav">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- NAVIGATION -->
				<div class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav nav-justified nav_special">
							<li><a href="index.html">Inicio</a></li>
							<li><a href="#" onclick="purificacion();">Purificación</a></li>
							<li><a href="#" onclick="tratamiento();">Tratamiento de agua</a></li>
							<li><a href="#" onclick="albercas();">Albercas</a></li>
							<li class="active"><a href="#">Asesorias</a></li>
							<li><a href="#" onclick="quienessomos();">Quienes somos</a></li>
							<li><a href="#contacto">Contacto</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container nav_second">
		<div class="row">
			<div class="col-md-12">
				<div class="navbar navbar-default" role="navigation">
					<!-- NAVIGATION SECOND-->
					<div class="navbar " role="navigation">
						<div class="navbar-collapse collapse navbar_second">
							<ul class="nav navbar-nav nav-justified nav_special">
								<li><a href="#consultoria">Consultorias</a></li>
								<li><a href="#servicios">Servicios</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>		

<div class="row" id="consultoria">
	<div class="col-md-12">
		<h1>Servicios de asesorías/consultorías en Aguas y Aguas Residuales:</h1>
		<p>
			Dentro de esta área se cubren los siguientes servicios:
			<br>
			<ol style="font-weight: bolder;">
				<li> Estudios y ensayos de laboratorio sobre factibilidad de tratamientos físico-químicos. </li>
				<li> Diseño básico y conceptual sobre tratamientos en general de aguas y aguas residuales. </li>
				<li> Diseño básico de tratamientos químicos y físico-químicos. </li>
				<li> Remoción de contaminantes en efluentes industriales. </li>
			</ol>
		</p>
	</div>
</div>


<div class="row" id="servicios">
	<div class="col-md-12">
		<h1>Servicios de Asistencia Técnica</h1>
		<p>
			Dentro del programa de servicios, cubrimos los siguientes aspectos:
			<br>
			<ol  style="font-weight: bolder;">
				<li> Se realizan visitas de inspección a equipos y a los sistemas de tratamiento de agua, para conocerlos y buscar aéreas de mejoramiento. </li>
				<li> Se trabaja conjuntamente con nuestros clientes en proyectos para optimizar eficiencia y obtener ahorros. Se hace revisión de avances de los mismos cada 6-12 meses, para cuantificar retorno de inversiones. </li>
				<li> Se suministra Manual de Programa de Tratamiento, como guía operativa para la aplicación y control de los productos químicos. </li>
				<li> Se realiza visitas periódicas y programadas para realizar ensayos de laboratorio, y hacer seguimiento a variables operativas y cuantificar ahorros proyectados. </li>
				<li> Se hace reporte personal de servicios de cada visita, indicando acciones correctivas si fuere necesario. </li>
				<li> Se organizan programas de capacitación para personal de operadores y/o supervisores de acuerdo a necesidades. </li>
			</ol>
		</p>
		<p>
			Por medio de programas de capacitación  del personal encargado de la operación de planta, se pretende concientizarlos  de la importancia de la ejecución del programa de tratamiento de aguas residuales específico para el equipo y tipo de residuos a tratar en su planta.
		</p>
		<p>
			Esto incluye: Teoría básica sobre tratamiento de aguas residuales, operación de equipos, ensayos de control y aspectos únicos de una labor en particular. Igualmente, se desarrollan diagramas de flujo con sus parámetros operacionales, en caso de no existir.
		</p>

	</div>
</div>