<nav id="main-nav">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- NAVIGATION -->
				<div class="navbar navbar-default" role="navigation">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav nav-justified nav_special">
							<li class="active"><a href="#">Inicio</a></li>
							<li><a href="#" onclick="purificacion();">Purificación</a></li>
							<li><a href="#" onclick="tratamiento();">Tratamiento de aguas</a></li>
							<li><a href="#" onclick="albercas();">Albercas</a></li>
							<li><a href="#" onclick="asesorias();">Asesorias</a></li>
							<li><a href="#" onclick="quienessomos();">Quienes somos</a></li>
							<li><a href="#contacto">Contacto</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</nav>	

<br>

<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-6">
			<div class="animate-paraslide">        
					<a href="views/n_purificacion.html">
					<img src="img/site/purificacion.jpg"  />
					<div class="overlay">        
						<h3>Purificación</h3>
						<p>Sistemas de purificación residencial y comercial.</p> 
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="animate-paraslide">        
					<a href="views/n_purificacion.html">
					<img src="img/site/ultrapura.jpg" />
					<div class="overlay">        
						<h3>Ultrapura</h3>
						<p>Agua completamente libre de sólidos disueltos y suspendidos.</p> 
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="animate-paraslide">        
					<a href="views/n_purificacion.html">					
					<img style="height: 300px;" src="img/site/osmosis.jpg">
					<div class="overlay">        
						<h3>Osmosis</h3>
						<p>
						La ósmosis del agua es un fenómeno biológico importante.
						</p> 
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="animate-paraslide">        
					<a href="views/n_albercas.html">
					<img src="img/site/albercas.jpg" />
					<div class="overlay">        
						<h3>Albercas</h3>
						<p>
						Recipiente fabricado en concreto, fibra de
						vidrio o materiales plásticos.
						</p> 
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<br>

<div id="map">
	
</div>	