<nav id="main-nav">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- NAVIGATION -->
				<div class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav nav-justified nav_special">
							<li><a href="index.html" >Inicio</a></li>
							<li class="active"><a href="#">Purificación</a></li>
							<li><a href="#" onclick="tratamiento();">Tratamiento de agua</a></li>
							<li><a href="#" onclick="albercas();">Albercas</a></li>
							<li><a href="#" onclick="asesorias();">Asesorias</a></li>
							<li><a href="#" onclick="quienessomos();">Quienes somos</a></li>
							<li><a href="#contacto">Contacto</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container nav_second">
		<div class="row">
			<div class="col-md-12">
				<div class="navbar navbar-default" role="navigation">
					<!-- NAVIGATION SECOND-->
					
					
					<!--div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div-->




					<div class="navbar " role="navigation">
						<div class="navbar-collapse collapse navbar_second">
							<ul class="nav navbar-nav nav-justified nav_special">
								<li><a href="#residencial">Residencial</a></li>
								<li><a href="#comercial">Comercial</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>		

<br>

<div class="row" id="residencial">
	<h1>Sistema de purificación residencial</h1>
	<div class="col-md-12">
		<p>
		Los contaminantes ocurren de manera artificial (producidos por la mano del hombre) o natural. Algunos contaminantes son organismos que incluyen patógenos como bacterias, virus y parásitos tales como protozoos microscópicos y gusanos. Estos organismos vivientes se pueden propagar por medios desechos sólidos humanos y animales. Las buenas medidas sanitarias y la higiene pueden ayudar a detener la propagación de estos organismos.
		</p>	
	</div>
</div>

<hr class="featurette-divider">

<div class="row">
	<div class="col-md-6">
		<p style="text-align: center;">
			<img src="img/purificacion/HGL-DUPLEX.jpg" alt=""/ style="width:300px">
		</p>	
	</div>
	<div class="col-md-6">
		<h2>Modelo HGL-DUPLEX</h2>
		<p>
			Filtro con dos cartuchos. Uno de ellos de carbón activado en block y un segundo elemento de carbón activado y KDF, con llave y todos sus accesorios para suministro de agua potable.
		</p>	
	</div>
</div>

<hr class="featurette-divider">

<div class="row">
	<div class="col-md-6">
		<h2>Modelo HGLDX-UV</h2>
		<p>
			Filtro con dos cartuchos. Uno de ellos de carbón activado en block y un segundo elemento de carbón activado y KDF, con llave y todos sus accesorios para suministro de agua potable. Con esterilizador Ultravioleta con capacidad de 4 litros por minuto.
		</p>	
	</div>
	<div class="col-md-6">
		<p style="text-align: center;">
			<img src="img/purificacion/HGLDX-UV.jpg" alt=""/ style="width:400px">
		</p>
	</div>
</div>

<hr class="featurette-divider">

<div class="row">
	<div class="col-md-6">
		<p style="text-align: center;">
			<img src="img/purificacion/HGL-OI5.jpg" alt=""/ style="width:400px">
		</p>	
	</div>
	<div class="col-md-6">
		<h2>Modelo HGL-OI 5 etapas</h2>
		<p>
			Filtro con  tres cartuchos. Uno de ellos de carbón activado en block y un segundo elemento de carbón activado granulado, con llave y todos sus accesorios para suministro de agua potable. Con membrana de osmosis inversa de 50 galones por dia, y filtro para retencion de solidos para suministro de agua potable completamente libre de contaminantes y de calidad similar a la que elaboran marcas como Evian, Ultrapura, Nestle, Ciel, etc.
		</p>	
	</div>
</div>

<!--purificacion comercial-->

<div class="row" id="comercial">
		<h1>Sistema de purificación comercial</h1>
		<h2>Sistemas de tratamiento de agua</h2>
			<div class="col-md-4">
				<h2>Suavizadores</h2>
				<p>
					Los suavizadores son equipos utilizados para remover las sales de calcio y magnesio presentes en el agua. Dichas sales son las causantes de problemas como incrustaciones en tuberías y boilers, disminuyen la eficiencia de los aparatos de aire acondicionado, exceso de gasto en detergentes, además de manchas en lavabos sanitarios, y otros artículos de uso común.
					También reducen la presencia de hierro. Incluye la válvula para la operación automática o manual del suavizador y su tanque de salmuera.
				</p>	
			</div>
			<div class="col-md-4">
				<h2>Filtros multimedia</h2>
				<p>
					Filtros para remover sedimentos y sólidos presentes en el agua como tierra, arcilla, arena y otros contaminantes. Incluyen cuatro diferentes materiales filtrantes, los cuales maximizan la calidad del filtrado, minimizando la caída de presión y tiempos de retrolavado. Incluye válvula para operación automática o manual del filtro.
				</p>	
			</div>
			<div class="col-md-4">
				<h2>Filtros de carbón activado</h2>
				<p>
					Eficiente manera de filtrar el agua, removiendo cloro y materia orgánica, causante de desagradables olores, colores o sabores del agua. Trabajan mediante un proceso de absorción, filtración mecánica y como catalizador. Incluye válvula para la operación automática o manual del filtro.
				</p>	
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<p style="text-align: center;">
					<img style="width: 50%;" src="img/purificacion/SUAV.jpg" alt=""/>
				</p>
			</div>
			<div class="col-md-6">
				<p style="text-align: center;">
					<img src="img/purificacion/ultafiltracion_2.png" alt=""/ style="width:70%">
				</p>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row">
			<div class="col-md-12">
				<h2>Ultrafiltración</h2>
				<p>
					Los sistemas de ultrafiltración usan un proceso impulsado de separación de membrana bajo presión, esta membrana ayuda a eliminar materia suspendida y partículas de materia, incluyendo coloides y sedimentos del agua. La ultrafiltración es más confiable y eficiente en comparación con un filtro de multimedia, debido al tamaño de la malla de ultrafiltración.
					Además de la eliminación de turbidez la ultrafiltración también elimina eficazmente la mayor parte de bacterias y virus.
				</p>	
				<p>
					Hoy en día, diferentes aplicaciones para la ultrafiltración se pueden encontrar en casi todos los sectores industriales: 
					<br>
					<ul type = disk style="font-weight: bolder; font-size: 15px;">
						<li>Filtración de microorganismos en agua potable y soluciones en general
						<li>Tratamiento de las aguas superficiales
						<li>Recuperación de agua en lavado de autos
						<li>La separación de emulsiones de aceite / agua
						<li>Recuperación de pintura de electrodeposición  
						<li>La eliminación de los hidróxidos de metales en el tratamiento de aguas residuales
						<li>Separación de la biomasa en la biotecnología
						<li>Tratamiento de aguas residuales y reutilización  
					</ul>
				</p>
				<p style="text-align: center;">
					<img src="img/purificacion/ultrafiltracion.jpg" alt=""  style="width:80%" />
				</p>
			</div>
			
		</div>

		<div class="row">
			<div class="col-md-12" style="text-align: center;">
				
			</div>
		</div>