<nav id="main-nav">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- NAVIGATION -->
				<div class="navbar navbar-default" role="navigation">				
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav nav-justified nav_special">
							<li><a href="index.html">Inicio</a></li>
							<li><a href="#" onclick="purificacion();">Purificación</a></li>
							<li><a href="#" onclick="tratamiento();">Tratamiento de agua</a></li>
							<li><a href="#" onclick="albercas();">Albercas</a></li>
							<li><a href="#" onclick="asesorias();">Asesorias</a></li>
							<li class="active"><a href="#">Quienes somos</a></li>
							<li><a href="#contacto">Contacto</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--div class="container nav_second">
		<div class="row">
			<div class="col-md-12">
				<div class="navbar navbar-default" role="navigation"-->
					<!-- NAVIGATION SECOND-->
					<!--div class="navbar " role="navigation">
						<div class="navbar-collapse collapse navbar_second">
							<ul class="nav navbar-nav nav-justified nav_special">
								<li><a href="#residencial">Residencial</a></li>
								<li><a href="#comercial">Comercial</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div-->
</nav>		
		
<div class="row">
	<div class="col-md-12">
		<h1></h1>
	</div>
</div>

<div class="row">
	<div class="col-md-14">
		<h2></h2>
		<p>
			Somos una empresa mexicana dedicada al tratamiento de agua, así como a la comercialización de diferentes sistemas  para la potabilización de agua.
			Nuestra experiencia en la implementación de plantas potabilizadoras para producción de agua purificada por medio de osmosis inversa, es muy amplia.
			Nuestra empresa ha instalado más de 150 plantas purificadoras en diferentes localidades del estado de Chihuahua.
		</p>
		<p>
			También la Comisión Nacional del Agua tiene instaladas diez plantas purificadoras para remoción de flúor y arsénico, en diferentes zonas rurales de la región lagunera con problemas de altos niveles de estos contaminantes.
			Nuestras plantas consisten de una serie de procesos para tratamiento de aguas potables y que son lo más novedoso en la tecnología de tratamiento de aguas. Estos procesos son:
		</p>
	</div>
</div>

<hr class="featurette-divider">

<div class="row">
	<div class="col-md-12">
		<h1></h1>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Tecnologias</h2>
		<p>
			Nuestras plantas consisten de una serie de procesos para tratamiento de aguas potables y que son lo más novedoso en la tecnología de tratamiento de aguas. Estos procesos son:
		</p>
		<p>
			<ul type = disk style="font-weight: bolder; font-size: 15px; font-family: arial;">
				<li>Microfiltración
				<li>Filtración en multimedia
				<li>Filtración en carbón activado
				<li>Ablandamiento con resinas en ciclo sodio
				<li>Desinfección con cloro
				<li>Desinfección con ozono
				<li>Esterilización con radiación Ultravioleta
				<li>Ultrafiltración
				<li>Osmosis Inversa
			</ul>
		</p>
	</div>
	<div class="col-md-4">
		<h2>Técnicas</h2>
		<p>
			Las soluciones que ofrecemos incluyen
		</p>
		<P>
			<ul type = disk style="font-weight: bolder; font-size: 15px; font-family: arial;">
				<li>Polímeros floculantes
				<li>Sistemas de producción de agua por medio de Osmosis Inversa
				<li>Sistemas de Agua Ultrapura para laboratorios
				<li>Sistemas de filtración por medio de carbón activado, multimedia, filter Ag, entre otros.
				<li>Cartuchos de carbón activado para eliminar cloro en el agua
				<li>Cartuchos de polipropileno para eliminar sólidos y partículas.
				<li>Resinas catiónica, Anionica y mixta
				<li>Arenas sílica
			</ul>
		</P>
	</div>
	<div class="col-md-4">
		<h2>Calidad</h2>
		<p>
			Trabajamos apegados a las normas más estrictas de calidad, a nivel internacional, en beneficio de nuestros clientes y del planeta, porque buscamos posicionarnos como empresa líder a nivel nacional.
		</p>
		<p>
			Diseñamos: el sistema de tratamiento de acuerdo a la necesidad de su empresa.
		</p>
	</div>
</div>	

<hr class="featurette-divider">

<div class="row">
	<div class="col-md-12">
		<h1>Algunos de nuestros trabajos</h1>
	</div>
</div>

<div class="panel-group" id="accordion" style="font-weight: bolder; font-size: 13px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          <b>JUNTA CENTRAL DE AGUA Y SANEAMIENTO DEL ESTADO DE CHIHUAHUA</b> 
          <!--Junta Central de Agua y Saneamiento del Estado de Chihuahua-->
        </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        Implementación de 16 plantas con sistemas de ósmosis inversa y sus accesorios para comunidades rurales del estado de Chihuahua, con problemas de calidad en las fuentes de suministro de agua potable, en capacidades de 1,000, 2,000 y 5,000 litros por día.
         Asesoría a la empresa FESTA para la implementación de igual número de plantas. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          <b>COMISIÓN ESTATAL DE AGUA Y SANEAMIENTO DEL ESTADO DE GUANAJUATO</b>
          <!--Comisión Estatal de Agua y Saneamiento del Estado de Guanajuato-->
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        Implementación de planta potabilizadora con capacidad de 5,000 litros por día en San Agustín Municipio de Irapuato, Guanajuato.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          <b>INSTITUTO CHIHUAHUENSE DE SALUD DEL ESTADO DE CHIHUAHUA, ICHISAL</b>
          <!--Instituto Chihuahuense de Salud del Estado de Chihuahua, ICHISAL-->
        </a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        Implementación de siete sistemas de ablandamiento para tratamiento del agua para sus esterilizadores en diferentes hospitales del estado.
			Monitoreo, capacitación y asesoría en la operación del equipo.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
          <b>COMISIÓN NACIONAL DEL Agua</b>
          <!--Comisión Nacional Del Agua-->
        </a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        Suministro de Suministro, de 5 plantas de ósmosis inversa, con capacidad de producción de 15 litros por minuto (4 galones por minuto), para potabilizar agua en  localidades rurales del Estado de Durango. Contrato No. CNA-SGIHU-SA-05/2005.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
          <b>SERVICIOS ESTATALES DE SALUD HOSPITAL INTEGRAL DE OJINAGA</b>
          <!--Servicios Estatales de Salud Hospital Integral de Ojinaga-->
        </a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
        Planta de ósmosis inversa para remoción de sales para suministro al hospital Integral de Ojinaga.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
          <b>EATON TRUCK SA DE RL EN SAN LUIS POTOSI</b>
          <!--EATON Truck SA de RL en San Luis Potosi-->
        </a>
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">
        Diagnostico, análisis, modificaciones, reparaciones, arranque, operación y capacitación para personal de planta de planta de tratamiento de aguas residuales de esta empresa en la fabricación de embragues y piezas para transmisiones automotrices.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
          <b>CHIHUAHUA MOTORS AGENCIA FORD</b>
          <!--Chihuahua Motors Agencia Ford-->
        </a>
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse">
      <div class="panel-body">
        Reparación y puesta en marcha de planta de tratamiento de aguas residuales provenientes del taller mecánico.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
          <b>AUTOCAMIONES DE CHIHUAHUA SA DE CV AGENCIA CHRYSLER</b>
          <!--Autocamiones de Chihuahua SA de CV Agencia Chrysler-->
        </a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse">
      <div class="panel-body">
        Implementación de planta recicladora de agua del taller de lavado para autos.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
          <b>FRIGORÍFICOS SAN PEDRO</b>
          <!--Frigoríficos San Pedro-->
        </a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse">
      <div class="panel-body">
        Asesoría y monitoreo en la calidad del agua potable y hielo que se produce en esta empresa.  Cd. Meoquí Chihuahua.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
          <b>MANESA</b>
        </a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse">
      <div class="panel-body">
        Sistema de ósmosis inversa con capacidad de 120 galones por minuto. Asesoría y capacitación a personal para la operación del sistema, el cual produce agua desmineralizada para la formulación de pinturas de los motores producidos en esta empresa maquiladora.	 Chihuahua, Chih.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
          <b>VARELA QUÍMICOS Y ASOCIADOS S.A DE C.V.</b>
          <!--Varela Químicos y Asociados S.A de C.V.-->
        </a>
      </h4>
    </div>
    <div id="collapse12" class="panel-collapse collapse">
      <div class="panel-body">
        Suministro de equipo de Osmosis Inversa con capacidad de producción de 6,000 GPD. Saltillo Coahuila.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
          <b>CÍA. MINERA PLATA PANAMERICANA</b>
          <!--Cía. Minera Plata Panamericana-->
        </a>
      </h4>
    </div>
    <div id="collapse14" class="panel-collapse collapse">
      <div class="panel-body">
        Implementación de sistema de tratamiento de agua por medio de ósmosis inversa y equipos auxiliares, para uso y consumo como agua potable. Durango, Dgo.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">
          <b>PACE INDUSTRIES DE MÉXICO</b>
          <!--Pace Industries de México-->
        </a>
      </h4>
    </div>
    <div id="collapse16" class="panel-collapse collapse">
      <div class="panel-body">
        Asesoría y monitoreo de la calidad del agua que se emplea en el proceso de cromado de piezas de acero de esta empresa maquiladora.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse17">
          <b>SERVICIO GEOLÓGICO MEXICANO</b>
          <!--Servicio Geológico Mexicano-->
        </a>
      </h4>
    </div>
    <div id="collapse17" class="panel-collapse collapse">
      <div class="panel-body">
        Mantenimiento a equipo de agua Ultrapura, así como cambio de mangueras y conexiones para su correcto funcionamiento.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse18">
          <b>MAQUILAS TETAKAWI (PLANTA MEDTRONIC)</b>
          <!--Maquilas Tetakawi (Planta Medtronic)-->
        </a>
      </h4>
    </div>
    <div id="collapse18" class="panel-collapse collapse">
      <div class="panel-body">
        Sistema de osmosis inversa de 10,000 LPD, Sistema de tratamiento de agua por medio de Ultrafiltración y Esterilización en Planta Medtronic, Guaymas Sonora.	Sistema de Neutralización de ácidos.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse19">
          <b>MEDTRONIC MÉXICO</b>
          <!--Medtronic México-->
        </a>
      </h4>
    </div>
    <div id="collapse19" class="panel-collapse collapse">
      <div class="panel-body">
        La empresa genera en su proceso de manufactura residuos que desea disponer adecuadamente y/o reciclar si esto es posible. Medtronic México ha solicitado a nuestra empresa la elaboración de un sistema para disponer de ellos responsablemente o reciclar estos.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse20">
          <b>MAQUINARIA, S.A. DE C.V.</b>
          <!--Maquinaria, S.A. de C.V.-->
        </a>
      </h4>
    </div>
    <div id="collapse20" class="panel-collapse collapse">
      <div class="panel-body">
        Consumibles para tratamiento de agua, Sal Granulada, Hipoclorito de sodio, Cartuchos con arcillas de KDF, así como medidores de PH y Conductividad.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse21">
          <b>HELADOS SÚPER COLDY</b>
          <!--Helados Súper Coldy-->
        </a>
      </h4>
    </div>
    <div id="collapse21" class="panel-collapse collapse">
      <div class="panel-body">
        Sistema de osmosis inversa de 5,000 litros diarios, Suavizador y Filtro de Carbón Activado. Rehabilitación de equipo de O.I. para tratamiento de agua, así como pruebas microbiológicas en agua.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse22">
          <b>SOFÍ DE CHIHUAHUA</b>
          <!--Sofí de Chihuahua-->
        </a>
      </h4>
    </div>
    <div id="collapse22" class="panel-collapse collapse">
      <div class="panel-body">
        Venta de Filtros para retención de solido tipo sedimento, así como floculante e Hipoclorito de sodio para sistema de agua.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse23">
          <b>AGROPECUARIA DEL CONSUELO</b>
          <!--Agropecuaria del Consuelo-->
        </a>
      </h4>
    </div>
    <div id="collapse23" class="panel-collapse collapse">
      <div class="panel-body">
        Sistema de producción de agua desmineralizada por medio de osmosis inversa con capacidad de 80,000 LPD.	
      </div>
    </div>
  </div>
</div>

<!--div class="row">
	
	<div class="col-md-12">
	<h3>Junta Central de Agua y Saneamiento del Estado de Chihuahua</h3>
		<p>
			Implementación de 16 plantas con sistemas de ósmosis inversa y sus accesorios para comunidades rurales del estado de Chihuahua, con problemas de calidad en las fuentes de suministro de agua potable, en capacidades de 1,000, 2,000 y 5,000 litros por día.
            Asesoría a la empresa FESTA para la implementación de igual número de plantas. 
        </p>
	</div>
	<div class="col-md-12">
	<h3>Comisión Estatal de Agua y Saneamiento del Estado de Guanajuato</h3>
		<p>
			Implementación de planta potabilizadora con capacidad de 5,000 litros por día en San Agustín Municipio de Irapuato, Guanajuato.
        </p>
	</div>
	<div class="col-md-12">
	<h3>Instituto Chihuahuense de Salud del Estado de Chihuahua, ICHISAL</h3>
		<p>
			Implementación de siete sistemas de ablandamiento para tratamiento del agua para sus esterilizadores en diferentes hospitales del estado.
			Monitoreo, capacitación y asesoría en la operación del equipo.

        </p>
	</div>
	<div class="col-md-12">
	<h3>Comisión Nacional Del Agua</h3>
		<p>
			Suministro de Suministro, de 5 plantas de ósmosis inversa, con capacidad de producción de 15 litros por minuto (4 galones por minuto), para potabilizar agua en  localidades rurales del Estado de Durango. Contrato No. CNA-SGIHU-SA-05/2005.
        </p>
	</div>
	<div class="col-md-12">
	<h3>Servicios Estatales de Salud Hospital Integral de Ojinaga</h3>
		<p>
			Planta de ósmosis inversa para remoción de sales para suministro al hospital Integral de Ojinaga.
        </p>
	</div>
	<div class="col-md-12">
	<h3>EATON Truck SA de RL en San Luis Potosi</h3>
		<p>
			Diagnostico, análisis, modificaciones, reparaciones, arranque, operación y capacitación para personal de planta de planta de tratamiento de aguas residuales de esta empresa en la fabricación de embragues y piezas para transmisiones automotrices.
        </p>
	</div>
	<div class="col-md-12">
	<h3>Chihuahua Motors Agencia Ford</h3>
		<p>
			Reparación y puesta en marcha de planta de tratamiento de aguas residuales provenientes del taller mecánico.
        </p>
	</div>
	<div class="col-md-12">
	<h3>Autocamiones de Chihuahua SA de CV Agencia Chrysler</h3>
		<p>
			Implementación de planta recicladora de agua del taller de lavado para autos.
        </p>
	</div>

	<div class="col-md-12">
	<h3>Frigoríficos San Pedro</h3>
		<p>
			Asesoría y monitoreo en la calidad del agua potable y hielo que se produce en esta empresa.  Cd. Meoquí Chihuahua.
        </p>
	</div><div class="col-md-12">
	<h3>MANESA</h3>
		<p>
			Sistema de ósmosis inversa con capacidad de 120 galones por minuto. Asesoría y capacitación a personal para la operación del sistema, el cual produce agua desmineralizada para la formulación de pinturas de los motores producidos en esta empresa maquiladora.	 Chihuahua, Chih.
        </p>
	</div><div class="col-md-12">
	<h3>Varela Químicos y Asociados S.A de C.V</h3>
		<p>
			Suministro de equipo de Osmosis Inversa con capacidad de producción de 6,000 GPD. Saltillo Coahuila.
        </p>
	</div><div class="col-md-12">
	<h3>Cía. Minera Plata Panamericana</h3>
		<p>
			Implementación de sistema de tratamiento de agua por medio de ósmosis inversa y equipos auxiliares, para uso y consumo como agua potable. Durango, Dgo.
        </p>
	</div><div class="col-md-12">
	<h3>Pace Industries de México</h3>
		<p>
			Asesoría y monitoreo de la calidad del agua que se emplea en el proceso de cromado de piezas de acero de esta empresa maquiladora.
        </p>
	</div><div class="col-md-12">
	<h3>Servicio Geológico Mexicano</h3>
		<p>
			Mantenimiento a equipo de agua Ultrapura, así como cambio de mangueras y conexiones para su correcto funcionamiento.
        </p>
	</div><div class="col-md-12">
	<h3>Maquilas Tetakawi  (Planta Medtronic</h3>
		<p>
			Sistema de osmosis inversa de 10,000 LPD, Sistema de tratamiento de agua por medio de Ultrafiltración y Esterilización en Planta Medtronic, Guaymas Sonora.	Sistema de Neutralización de ácidos.
        </p>
	</div><div class="col-md-12">
	<h3>Medtronic México </h3>
		<p>
			La empresa genera en su proceso de manufactura residuos que desea disponer adecuadamente y/o reciclar si esto es posible. Medtronic México ha solicitado a nuestra empresa la elaboración de un sistema para disponer de ellos responsablemente o reciclar estos.
        </p>
	</div><div class="col-md-12">
	<h3>Maquinaria, S.A. de C.V.</h3>
		<p>
			Consumibles para tratamiento de agua, Sal Granulada, Hipoclorito de sodio, Cartuchos con arcillas de KDF, así como medidores de PH y Conductividad.
        </p>
	</div><div class="col-md-12">
	<h3>Helados Súper Coldy</h3>
		<p>
			Sistema de osmosis inversa de 5,000 litros diarios, Suavizador y Filtro de Carbón Activado. Rehabilitación de equipo de O.I. para tratamiento de agua, así como pruebas microbiológicas en agua.
        </p>
	</div><div class="col-md-12">
	<h3>Sofí de Chihuahua</h3>
		<p>
			Venta de Filtros para retención de solido tipo sedimento, así como floculante e Hipoclorito de sodio para sistema de agua.
        </p>
	</div><div class="col-md-12">
	<h3>Agropecuaria del Consuelo</h3>
		<p>
			Sistema de producción de agua desmineralizada por medio de osmosis inversa con capacidad de 80,000 LPD.	
        </p>
	</div>
</div-->