<nav id="main-nav">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- NAVIGATION -->
				<div class="navbar navbar-default" role="navigation">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav nav-justified nav_special">
							<li><a href="index.html">Inicio</a></li>
							<li><a href="#" onclick="purificacion();">Purificación</a></li>
							<li><a href="#" onclick="tratamiento();">Tratamiento de aguas</a></li>
							<li><a href="#" onclick="albercas();">Albercas</a></li>
							<li><a href="#" onclick="asesorias();">Asesorias</a></li>
							<li class="active"><a href="#">Quienes somos</a></li>
							<li><a href="#contacto">Contacto</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--div class="container nav_second">
		<div class="row">
			<div class="col-md-12">
				<div class="navbar navbar-default" role="navigation"-->
					<!-- NAVIGATION SECOND-->
					<!--div class="navbar " role="navigation">
						<div class="navbar-collapse collapse navbar_second">
							<ul class="nav navbar-nav nav-justified nav_special">
								<li><a href="#residencial">Residencial</a></li>
								<li><a href="#comercial">Comercial</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div-->
</nav>		
		
<div class="row">
	<div class="col-md-12">
		<h1></h1>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-14">
		<h2></h2>
		<p>
			Somos una empresa mexicana dedicada al tratamiento de agua, así como a la comercialización de diferentes sistemas  para la potabilización de agua.
			Nuestra experiencia en la implementación de plantas potabilizadoras para producción de agua purificada por medio de osmosis inversa, es muy amplia.
			Nuestra empresa ha instalado más de 150 plantas purificadoras en diferentes localidades del estado de Chihuahua.
		</p>
		<p>
			También la Comisión Nacional del Agua tiene instaladas diez plantas purificadoras para remoción de flúor y arsénico, en diferentes zonas rurales de la región lagunera con problemas de altos niveles de estos contaminantes.
			Nuestras plantas consisten de una serie de procesos para tratamiento de aguas potables y que son lo más novedoso en la tecnología de tratamiento de aguas. Estos procesos son:
		</p>
	</div>
</div>

<hr class="featurette-divider">

<div class="row">
	<div class="col-md-12">
		<h1>Algunos de nuestros trabajos</h1>
	</div>
</div>
<div class="row">
	
	<div class="col-md-12">
	<h3>Junta Central de Agua y Saneamiento del Estado de Chihuahua</h3>
		<p>
			Implementación de 16 plantas con sistemas de ósmosis inversa y sus accesorios para comunidades rurales del estado de Chihuahua, con problemas de calidad en las fuentes de suministro de agua potable, en capacidades de 1,000, 2,000 y 5,000 litros por día.
            Asesoría a la empresa FESTA para la implementación de igual número de plantas. 
        </p>
	</div>
	<div class="col-md-12">
	<h3>Comisión Estatal de Agua y Saneamiento del Estado de Guanajuato</h3>
		<p>
			Implementación de planta potabilizadora con capacidad de 5,000 litros por día en San Agustín Municipio de Irapuato, Guanajuato.
        </p>
	</div>
	<div class="col-md-12">
	<h3>Instituto Chihuahuense de Salud del Estado de Chihuahua, ICHISAL</h3>
		<p>
			Implementación de siete sistemas de ablandamiento para tratamiento del agua para sus esterilizadores en diferentes hospitales del estado.
			Monitoreo, capacitación y asesoría en la operación del equipo.

        </p>
	</div>
	<div class="col-md-12">
	<h3>Comisión Nacional Del Agua</h3>
		<p>
			Suministro de Suministro, de 5 plantas de ósmosis inversa, con capacidad de producción de 15 litros por minuto (4 galones por minuto), para potabilizar agua en  localidades rurales del Estado de Durango. Contrato No. CNA-SGIHU-SA-05/2005.
        </p>
	</div>
	<div class="col-md-12">
	<h3>Servicios Estatales de Salud Hospital Integral de Ojinaga</h3>
		<p>
			Planta de ósmosis inversa para remoción de sales para suministro al hospital Integral de Ojinaga.
        </p>
	</div>
	<div class="col-md-12">
	<h3>EATON Truck SA de RL en San Luis Potosi</h3>
		<p>
			Diagnostico, análisis, modificaciones, reparaciones, arranque, operación y capacitación para personal de planta de planta de tratamiento de aguas residuales de esta empresa en la fabricación de embragues y piezas para transmisiones automotrices. (Ing. Olivia Rivera, gerente EHS Tel. (444)826 7900).
        </p>
	</div>
	<div class="col-md-12">
	<h3>Chihuahua Motors Agencia Ford</h3>
		<p>
			Reparación y puesta en marcha de planta de tratamiento de aguas residuales provenientes del taller mecánico (Sr. César Jiménez Tels. 01(614)439 04 54).
        </p>
	</div>
	<div class="col-md-12">
	<h3>Autocamiones de Chihuahua SA de CV Agencia Chrysler</h3>
		<p>
			Implementación de planta recicladora de agua del taller de lavado para autos (Ing. Carlos Ochoa y CP. Mario Meza
			Tels. 01(614)412 01 78)
        </p>
	</div>
</div>

<hr class="featurette-divider">

<div class="row">
	<div class="col-md-12">
		<h1></h1>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Tecnologias</h2>
		<p>
			Nuestras plantas consisten de una serie de procesos para tratamiento de aguas potables y que son lo más novedoso en la tecnología de tratamiento de aguas. Estos procesos son:
		</p>
		<p>
			<ul type = disk >
				<li>Microfiltración
				<li>Filtración en multimedia
				<li>Filtración en carbón activado
				<li>Ablandamiento con resinas en ciclo sodio
				<li>Desinfección con cloro
				<li>Desinfección con ozono
				<li>Esterilización con radiación Ultravioleta
				<li>Ultrafiltración
				<li>Osmosis Inversa
			</ul>
		</p>
	</div>
	<div class="col-md-4">
		<h2>Técnicas</h2>
		<p>
			Las soluciones que ofrecemos incluyen
		</p>
		<P>
			<ul type = disk>
				<li>Polímeros floculantes
				<li>Sistemas de producción de agua por medio de Osmosis Inversa
				<li>Sistemas de Agua Ultrapura para laboratorios
				<li>Sistemas de filtración por medio de carbón activado, multimedia, filter Ag, entre otros.
				<li>Cartuchos de carbón activado para eliminar cloro en el agua
				<li>Cartuchos de polipropileno para eliminar sólidos y partículas.
				<li>Resinas catiónica, Anionica y mixta
				<li>Arenas sílica
			</ul>
		</P>
	</div>
	<div class="col-md-4">
		<h2>Calidad</h2>
		<p>
			Trabajamos apegados a las normas más estrictas de calidad, a nivel internacional, en beneficio de nuestros clientes y del planeta, porque buscamos posicionarnos como empresa líder a nivel nacional.
		</p>
		<p>
			Diseñamos: el sistema de tratamiento de acuerdo a la necesidad de su empresa.
		</p>
	</div>
</div>	