<nav id="main-nav">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- NAVIGATION -->
				<div class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav nav-justified nav_special">
							<li><a href="index.html" >Inicio</a></li>
							<li><a href="#" onclick="purificacion();">Purificación</a></li>
							<li class="active"><a href="#">Tratamiento</a></li>
							<li><a href="#" onclick="albercas();">Albercas</a></li>
							<li><a href="#" onclick="asesorias();">Asesorias</a></li>
							<li><a href="#" onclick="quienessomos();">Quienes somos</a></li>
							<li><a href="#contacto">Contacto</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container nav_second">
		<div class="row">
			<div class="col-md-12">
				<div class="navbar navbar-default" role="navigation">
					<!-- NAVIGATION SECOND-->
					<div class="navbar " role="navigation">
						<div class="navbar-collapse collapse navbar_second">
							<ul class="nav navbar-nav nav-justified nav_special">
								<li><a href="#inversa">Osmosis inversa</a></li>
								<li><a href="#ultrapura">Equipos ultrapura</a></li>
								<li><a href="#despachadores">Despachadores</a></li>
								<li><a href="#manuales">Manuales</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>		

<br>

<div class="row">
	<h3>Tratamiento de agua para cumplimiento de la norma de agua potable en comunidades rurales del estado de Chihuahua</h3>
	<div class="col-md-12">
		<p>
		El deterioro en la calidad del agua que se suministra como agua potable es un agudo problema en México y en el mundo. En el estado de Chihuahua, los efectos de la sequía son entre otros, la extracción de agua de mantos acuíferos cada vez más profundos, lo que tiene como consecuencia que la calidad del agua presente problemas en lo referente al cumplimiento de la normatividad para agua potable.
		</p>
		<p>
		Por estudios previos realizados por la JCAS, se tienen detectados varios sitios en el estado, donde se presentan problemas en calidad de agua, en contenidos mayores a los máximos establecidos por la norma en: sólidos disueltos, flúor y arsénico principalmente.
		Se evaluaron varias tecnologías para a partir del agua disponible en los pozos, producir agua que cumpla con las normas de calidad y se estructuró un proceso de tratamiento que comprende: desinfección del agua y oxidación del arsénico con cloro; filtración en grava, arena y carbón activado; ablandamiento con resinas en ciclo sodio y finalmente hiperfiltración en membranas de ósmosis inversa.
		Las plantas que se construyeron con este fin han dado resultados altamente satisfactorios, tanto en la aceptación por parte de los usuarios y también en lo que respecta a la calidad del agua, la cual se obtiene después del tratamiento con ósmosis inversa y que tiene contenidos sumamente bajos de las substancias que originalmente la hacen objetable.
		Esta experiencia demuestra que es posible resolver los problemas de abastecimiento de agua con los estándares de calidad mundial, a un costo accesible para los estados y las comunidades.
		</p>	
	</div>
</div>

<hr class="featurette-divider">

<!--osmosis inversa-->

<div class="row" id="inversa">
	<div class="col-md-6">
		<h2>Sistema de osmosis inversa</h2>
		<p>
			Nuestro sistema de Osmosis Inversa otorga una remoción del 99.99% del material suspendido en el agua. Los sistemas de ósmosis inversa se utilizan para purificar el agua, retirar y eliminar las sales y otras impurezas del agua.
			Este proceso es capaz de eliminar bacterias, azúcares, proteínas, partículas, colorantes y otros constituyentes disueltos. Los sistemas  están diseñados para proporcionar un alto rendimiento de agua con un consumo mínimo de energía. Nuestros modelos tienen capacidades de 380 GPD hasta 100,000 GPD.
			Nuestros sistemas son  pueden ser diseñados y fabricados a medida de acuerdo a las necesidades de agua de nuestros clientes.
		</p>	
	</div>
	<div class="col-md-6">
		<p style="text-align: center;">
			<img src="img/osmosis/osmosis.jpg" alt="" style="width:200px"/>
		</p>	
	</div>
</div>

<!-- ultrapura -->

<hr class="featurette-divider">

<div class="row" id="ultrapura">
	<div class="col-md-6">
		<p style="text-align: center;">
			<img src="img/purificacion/agua_ultrapura.jpg" style="margin-top:90px;" alt="" />
		</p>	
	</div>
	<div class="col-md-6">
		<h2>Agua ultrapura</h2>
		<p>
			El agua de alta pureza es requerida cuando se debe emplear un agua completamente libre de sólidos disueltos y suspendidos.
			El trabajo de laboratorio demanda agua de esta naturaleza, para remover las posibles interferencias que las sales y materiales disueltos puedan tener en la práctica del análisis químico.
			También, para trabajo con tejidos celulares y con materiales biológicos requieren de un agua de extrema pureza.
		</p>
		<p>
			La forma tradicional de obtener dicha agua era hasta hace pocos años, a través del proceso de destilación. Cuando se requiere de agua de mucha mayor pureza a la que se tiene en una destilación simple, se emplea una segunda y hasta una tercera destilación para obtener agua bidestilada y tridestilada respectivamente.
			El proceso de destilación requiere de un consumo muy alto de energía eléctrica o de combustible, además de sofisticado equipo de vidrio especial sumamente frágil, costoso y difícil de recuperar. Adicionalmente en el condensador del agua evaporada se desechan grandes volúmenes de agua de enfriamiento, lo cual es también una desventaja considerando que actualmente el suministro de agua es restringido, y está en contra de nuestra conciencia de ahorro y aprovechamiento óptimo del agua potable de que disponemos.
			El proceso para obtención de agua calidad tridestilada empleada en el sistema HGL-UP-100, consiste en un tratamiento del agua por ósmosis inversa y lechos de resina mixta que produce agua de óptima calidad
		</p>	
	</div>
</div>

<hr class="featurette-divider">

<!-- despachadores -->

<div class="row" id="despachadores">
	<div class="col-md-6">
		<h2>Despachador</h2>
		<p>
			Existen un sin número de compañías embotelladoras de agua  potable que venden garrafones de 20 litros. Estas a su vez cuentan con clientes que consumen el producto. Los clientes cuentan  con varios inconvenientes y riesgos que están catalogados como:
		</p>
		<p>
			Dependencia de disponibilidad de proveedor para entregas a tiempo.
		</p>
		<p>
			Limpieza inadecuada de garrafones de reuso.
		</p>
		<p>
			El cliente debe contar con un lugar para almacenar el inventario de garrafones llenos y vacíos.
		</p>
		<p>
			Existe un riesgo a lastimarse (RIESGO DE TRABAJO) cuando se cambian los garrafones vacíos  por un lleno.
		</p>
		<p>
			La calidad fisicoquímica y microbiológica que cumple con las normas de higiene y salud.
		</p>
		<p>
			Ahorro significativo al eliminar la compra de garrafones que van de los $20 a $30 por garrafon dependiendo la marca, con nuestro sistemas te aseguramos calidad equivalente o superior al agua de garrafon de marca comercial.
		</p>

		<p>
			Es por eso que ofrecemos esta oportunidad para tu empresa o empezar tu propio de agua, asegurando la calidad del agua y la limpieza de los garrafones en uso, es por eso que te ofrecemos sistemas de purificacion  de agua que tienen la misma tecnología que las grandes marcas, pero que requieren una inversión mucho menor, estos pequeñas plantas purificadoras están enfocadas en una distribución local.
		</p>
	</div>
	<div class="col-md-6">
		<p style="text-align: center;">
			<img src="img/despachador/despachador_1.jpg" alt="" style="width:300px; height: 700px;"/>
		</p>	
	</div>
</div>

<hr class="featurette-divider">

<div class="row" id="manuales">
	<div class="col-md-12">
		<h1>Manuales</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<a target="_blank" href="docs/ultrapura/MANUAL_EQUIPOS_ULTRAPURA.pdf" tittle="MANUAL_EQUIPOS_ULTRAPURA.pdf">
			<img src="img/site/pdf.png" style="width:20px; padding-top: 0px;" />
			Equipos ultrapura
		</a>
		<br>
		<a target="_blank" href="docs/despachador/MANUAL_DESPACHADOR_AGUA_PURIFICADA.pdf" tittle="Despachadora.pdf">
			<img src="img/site/pdf.png" style="width:20px; padding-top: 0px;" />
			Manual de despachadora
		</a>
	</div>
	<div class="col-md-6">
				<!--div-->
				<!--a target="_blank" href="../docs/albercas/MANUAL_MANTENIMIENTO_ALBERCAS.pdf" tittle="PREGUNTAS_Y_RESPUESTAS.pdf">
						<img src="../img/site/pdf.png" style="width:20px; padding-top: 20px;">
						Manual Para Mantenimineto De Albercas
					</a-->
				<!--/div-->
	</div>
</div>

