<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Somos una empresa mexicana dedicada al tratamiento de agua, así como a la comercialización de diferentes sistemas  para la potabilización de agua.">
		<meta name="keywords" content="Filtros, Equipos, Osmosis, Trataminetos, Aguas, Albercas, Chihuahua, Mexico, Colonia Panamericana, Ultrapura, Ultrafiltracion, Rocha, Potable, Microfiltración, multimedia, carbón, Ablandamiento, cloro, ozono, Inversa, filter, catiónica, Anionica, Arenas sílica, hydranautics, flow-pro, aqua park, altamira, espa, hayward, purificacion">
		<meta name="author" content="Luis Raúl Espinoza Barboza">

		<title>FESTA</title>
		<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
		<link href="../fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="../css/bootstrap-3.1.1.min.css" rel="stylesheet">
		<link href="../css/lollies.min.css" rel="stylesheet">
		<link href="../css/custom.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="js/html5shiv-3.7.0.js"></script>
			<script src="js/respond-1.4.2.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container colWidth">
		<header id="main-header">
			<!--div class="container">
				<div class="row">
					<div class="col-md-6 headerMatch">
						
						<div id="logo"><a href="/"><img src="../img/site/logo.png" /></a></div>
					</div>
					<div class="col-md-6 headerMatch">
						
						<div id="masthead-container">
							<div id="masthead">
								
								<div class="socialmedia">
									<a href="" target="_blank" ><img src="img/icons/facebook.png" /></a>
									<a href="" target="_blank" ><img src="img/icons/twitter.png" /></a>
									<a href="" target="_blank" ><img src="img/icons/youtube.png" /></a>
									<a href="" target="_blank" ><img src="img/icons/instagram.png" /></a>
								</div>
								--
								<-- CALL TO ACTION --
								<div class="call"><h1>Filtros Y Equipos</h1><p>Teléfonos 426 0990 y 426 0991</p></div>
								
							</div>
						</div>
					</div>
				</div>
			</div-->

			<div id="slider" class="slider-col">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="camera_slider">
								<div data-src="../img/slider/slider_1.png"></div>
								<div data-src="../img/slider/slider_2.png"></div>
								<div data-src="../img/slider/slider_3.png"></div>
								<div data-src="../img/slider/slider_4.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</header>
		
		<nav id="main-nav">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- NAVIGATION -->
						<div class="navbar navbar-default" role="navigation">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="navbar-collapse collapse">
								<ul class="nav navbar-nav nav-justified">
									<li><a href="../index.html">Inicio</a></li>
									<li class="active"><a href="#">Purificación residencial</a></li>
									<li><a href="../views/purificacioncomercial.html">Purificación comercial</a></li>
									<li><a href="../views/ultrapura.html">Equipos para agua ultrapura </a></li>
									<li><a href="../views/osmosis.html">Equipos para osmosis inversa</a></li>
									<li><a href="../views/albercas.html">Albercas</a></li>
									<li><a href="#contacto">Contacto</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
		</nav>	
		
		<br>

		<div class="row">
			<h1>Sistema De Purificación Residencial</h1>
			<div class="col-md-12">
				<p>
				Los contaminantes ocurren de manera artificial (producidos por la mano del hombre) o natural. Algunos contaminantes son organismos que incluyen patógenos como bacterias, virus y parásitos tales como protozoos microscópicos y gusanos. Estos organismos vivientes se pueden propagar por medios desechos sólidos humanos y animales. Las buenas medidas sanitarias y la higiene pueden ayudar a detener la propagación de estos organismos.
				</p>	
			</div>
		</div>

		<hr class="featurette-divider">
		
		<div class="row">
			<div class="col-md-6">
				<p style="text-align: center;">
					<!--img src="../img/purificacion/Modelo_HGL-DUPLEX.png" class="img-thumbnail img-responsive" alt="Responsive image" style="width:300px"-->

					<a class="fancybox" rel="gallery_group" href="../img/purificacion/Modelo_HGL-DUPLEX.png"><img src="../img/purificacion/Modelo_HGL-DUPLEX.png" alt=""/ style="width:300px"></a>
				</p>	
			</div>
			<div class="col-md-6">
				<h2>Modelo HGL-DUPLEX</h2>
				<p>
					Filtro con dos cartuchos. Uno de ellos de carbón activado en block y un segundo elemento de carbón activado y KDF, con llave y todos sus accesorios para suministro de agua potable.
				</p>	
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row">
			<div class="col-md-6">
				<h2>Modelo HGLDX-UV</h2>
				<p>
					Filtro con dos cartuchos. Uno de ellos de carbón activado en block y un segundo elemento de carbón activado y KDF, con llave y todos sus accesorios para suministro de agua potable. Con esterilizador Ultravioleta con capacidad de 4 litros por minuto.
				</p>	
			</div>
			<div class="col-md-6">
				<p style="text-align: center;">
					<!--img src="../img/purificacion/Modelo_HGLDX-UV.png" class="img-thumbnail img-responsive" alt="Responsive image" style="width:400px"-->

					<a class="fancybox" rel="gallery_group" href="../img/purificacion/Modelo_HGLDX-UV.png"><img src="../img/purificacion/Modelo_HGLDX-UV.png" alt=""/ style="width:400px"></a>
				</p>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row">
			<div class="col-md-6">
				<p style="text-align: center;">
					<!--img src="../img/purificacion/Modelo_HGL-OI_5_ETAPAS.png" class="img-thumbnail img-responsive" alt="Responsive image" style="width:400px"-->

					<a class="fancybox" rel="gallery_group" href="../img/purificacion/Modelo_HGL-OI_5_ETAPAS.png"><img src="../img/purificacion/Modelo_HGL-OI_5_ETAPAS.png" alt=""/ style="width:400px"></a>
				</p>	
			</div>
			<div class="col-md-6">
				<h2>Modelo HGL-OI 5 Etapas</h2>
				<p>
					Filtro con  tres cartuchos. Uno de ellos de carbón activado en block y un segundo elemento de carbón activado granulado, con llave y todos sus accesorios para suministro de agua potable. Con membrana de osmosis inversa de 50 galones por dia, y filtro para retencion de solidos para suministro de agua potable completamente libre de contaminantes y de calidad similar a la que elaboran marcas como Evian, Ultrapura, Nestle, Ciel, etc.
				</p>	
			</div>
		</div>
		
		<hr class="featurette-divider">

		<div class="footer-block" id="contacto">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h2>Dirección</h2>
						<p>
							Filtros Equipos y Sistemas Para Tratamiento de Aguas
							<br> 
							República de Colombia Número 219
							<br>
							Chihuahua, Chih. 
						</p>
						
					</div>
					<div class="col-md-3">
						<h2>Contacto</h2>
						<p>
							Filtrosyequipos2014@gmail.com
							<br>
							elsa_rocha@yahoo.com
							<br>
							erocha@filtrosyequipos.com
						</p>
					</div>
					<div class="col-md-6">
						<!--div id="footer-map"></div-->
						<h2>
							Puedes seguirnos en: 
						</h2>
						<p class="pull-right">
				          <div class="social-popout"><a href="https://www.facebook.com/pages/Filtros-y-Equipos-chihuahua/820492864642587" 
				          target="_blank">
				            <img src="../img/social_icons/Facebook.png" />
				          </a></div>
				          <!--div class="social-popout"><a href="https://github.com/lreb/DeviceMaster" target="_blank">
				            <img src="img/social_icons/Github.png" />
				          </a></div-->
				          <div class="social-popout"><a href="https://plus.google.com/u/0/103431308185318942079" target="_blank">
				            <img src="../img/social_icons/Google-Plus.png" />
				          </a></div>
				          <div class="social-popout"><a href="https://www.linkedin.com/pub/filtros-y-equipos/9b/648/44/en" target="_blank">
				            <img src="../img/social_icons/Linkedin.png" />
				          </a></div>
				          <div class="social-popout"><a href="https://twitter.com/FiltrosyEqupos" target="_blank">
				            <img src="../img/social_icons/Twitter-Bird.png" />
				          </a></div>
				          <div class="social-popout"><a href="https://www.youtube.com/channel/UC4VgcdTfAItKdoWzz5N_XIQ" target="_blank">
				            <img src="../img/social_icons/Youtube.png" />
				          </a>
				          </div>
				        </p>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-block">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12 left">
						&copy; 2014 FESTA - Filtros Y Equipos.
					</div>
					<!--div class="col-md-6 col-sm-6 right hidephone">
						Proin | Metus | Vulputate | Curabitur
					</div-->
				</div>
			</div>
		</div>
		</div>
								<!-- SCRIPTS -->
		<script src="../js/jquery-1.7.2.min.js"></script>
		<script src="../js/bootstrap-3.1.1.min.js"></script>
		<script src="../plugins/backstretch/backstretch-2.0.4.min.js"></script>
		<script src="../plugins/camera-slider/camera-slider-1.3.4.min.js"></script>
		<script src="../plugins/camera-slider/easing-1.3.min.js"></script>
		<script src="../plugins/fancybox/fancybox-1.3.4.pack.js"></script>
		<script src="../plugins/fancybox/klass-1.0.min.js"></script>
		<script src="../plugins/fancybox/photoswipe-3.0.5.min.js"></script>
		<script src="../plugins/hover-animations/transform2d.min.js"></script>
		<script src="../plugins/hover-animations/hover-animations-1.0.min.js"></script>
		<script src="../plugins/match-height/match-height-0.5.1.min.js"></script>
		<script src="../plugins/validation/validation-2.2.min.js"></script>
		<script src="../http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="../js/lollies.min.js"></script>
		<script src="../js/custom.js"></script>
	</body>
</html>